#define DEVICE_NAME "UniqueDeviceName"

// ------ WI-FI ------
#define WI_FI_SSID "SSID"
#define WI_FI_PASSWORD "PASSWORD"

// ------ MQTT ------
// The IP address of your MQTT broker
#define MQTT_ADDR IPAddress(127, 0, 0, 1)

// Enables or disables MQTT authentication
#define MQTT_AUTHENTICATION false
// If Authentication is enabled, add MQTT credentials
#define MQTT_USERNAME "REPLACE_WITH_YOUR_MQTT_USERNAME"
#define MQTT_PASSWORD "REPLACE_WITH_YOUR_MQTT_PASSWORD"